<section id="skills">
  <h2 class="section-title">Skills</h2>
  <div class="skills-box">
    {% for skill in site.skills %}
    <img
      src="{{ skill.image }}"
      alt="{{ skill.name }}"
      id="{{ skill.name | downcase }}"
      class="skills-images"
    />
    <div class="skills-text" id="{{ skill.name | downcase }}Content">
      {{ skill.content }}
    </div>
    {% endfor %}
  </div>
</section>
